.wrapper
  %nav
    %ul
      %li GM
      %ul
        %li= link_to 'Create group', '/groups/new'
        %li= link_to 'Sign out', '/users/sign_out', data: { turbo_method: :delete }

  %main.main
    %h2 Welcome #{current_user.username},
    %h3 View your groups

