/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'group';
 @import url('https://fonts.googleapis.com/css2?family=Mukta&family=Poppins:ital,wght@0,400;1,300&family=Raleway:wght@200&display=swap');

 *,
 *::before,
 *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   min-height: 100vh;
   /* background-color: #F5F0F6; */
 }
  /* utility classes */
    .no-list-style {
      list-style-type: none;
    }

    .no-underline {
      text-decoration: none;
    }

    .italics {
      font-style: italic;
    }

  /* end of utility classes */

 .main-nav {
   display: flex;
   position: relative;
   justify-content: space-between;
   align-items: center;
   background-color: #EFF1F3 !important;
   padding: 0.2rem 0;

  .main-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    // grid-template-columns: 2fr 1fr;

    .logo-list-item {
      margin-left: 1rem;
    }

    .logo {
      display: block;
      max-width: 45px;
    }

    #burger-icon {
      margin-right: 1rem;

      i {
        font-size: 1.2rem;
      }
    }
  }
 }

  #nav-links {
    display: none;
    background: #202020;

    .nav-link {
      display: block;
      padding-block: 0.3rem;
      // padding-left: 0.8rem;
      margin-inline: 0.8rem;
      color: #fff !important;
      border-bottom: 0.5px solid #f0d8d8;
      &:hover {
        background-color: #b9b6b6;
        color: #020202 !important;
      }
    }

    // .sign-in, .sign-up {
    //   padding: 0.3rem 0.5rem;
    //   border: 1px solid black;
    //   border-radius: 5px;
    // }
  }

  /* root page styling */
  .landing {
    header {
      color: #f0f0f0;
      text-align: center;
      padding-block: 2rem;
      border-bottom: 1px solid black;
      background: linear-gradient(to bottom, #ccbf8c, #9c6828, #482d0a);
      h1 {
        font-family: 'Mukta', sans-serif;
        font-size: 1.8rem;
      }
    }
    section {
      margin: 2rem 0.5rem;
      p {
        font-weight: bold;
      }
    }
  }

  .group__list-wrapper {
    margin-left: 1rem;
  }

  .group__list {
    display: grid;
    margin-top: .5rem;
    gap: .7rem;
  }
  .group__list-item {
    font-size: 1.1rem;
    cursor: pointer;
  }
  .group__list-item a {
    color: #ca7f7d;
  }

  .groups_you_own, .all_groups {
    margin-top: 1.2rem;
  }

/* end of root page styling */

// breakpoint
@media screen and (min-width: 45rem) {
  // navigation
  #nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .nav-link {
        a {
          color: #15616d;
        }
      }

      .sign-out {
        border: 1px solid brown;
        padding: 0.3rem 0.5rem;
        border-radius: 5px;
        background-color: #78290f;

        a {
          color: #f7ece7;
        }
      }
  }

  .form-wrapper {
    .simple_form {
      width: 45%;
    }
  }
}
